.rounded_edge_rectangle{
    background: linear-gradient(180deg, #F0F2FF 0%, #A3B2FF 100%);
    opacity: 0.96;
    border-radius: 128px 0px 0px 128px;
}

.rounded_edge_rectangle_horizontal{
    background: linear-gradient(180deg, #F0F2FF 0%, #A3B2FF 100%);
    opacity: 0.96;
    border-radius: 0px 0px 80px 80px;
}


