.page-dim {
  max-width: 1440px;
  margin: 0 auto;
}

// override the standard max width for a page
// and span total view port width
.maximise-width {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}
