// Font style for MUI
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.page-width {
  max-width: 1440px;
  margin: 0 auto;
}

.page-padding {
  padding-left: min(9vw, 120px);
  padding-right: min(9vw, 120px);
  width: 100%;
}
.rounded_edge_rectangle{
    background: linear-gradient(180deg, #F0F2FF 0%, #A3B2FF 100%);
    opacity: 0.96;
    border-radius: 128px 0px 0px 128px;
}

.rounded_edge_rectangle_horizontal{
    background: linear-gradient(180deg, #F0F2FF 0%, #A3B2FF 100%);
    opacity: 0.96;
    border-radius: 0px 0px 80px 80px;
}

// TODO: Remove before deploying to PROD
.firebase-emulator-warning {
  display: none;
}
