.breadCrumbFlex {
  width: 100%;
  height: 123px;
}

.breadCrumbBox {
  margin-top: 46px;
  margin-left: 128px;
  width: 100%;

  /* Label/label-md */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.currentPage {
  /* Brand/brand-primary */
  font-weight: 600;
  color: #3959ff;
  text-decoration: underline;
  text-decoration-color: #3959ff;
}
