# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
firebase-debug.log
.firebase

.env

*.log

/src/mocks/data/*
.env.development.local